extends layout

include mixins/_storeCard.pug

block main
    .container
        .display-4.my-3= title
        .row
            each store in stores
                .col-sm-6.col-md-4
                    +storeCard(store)
        nav(aria-label='Page navigation example')
        if page
            ul.pagination.d-flex.justify-content-center
                li.page-item(class=(page === 1 ? 'disabled' : ''))
                    a.page-link(href=`/stores/page/${page - 1}`) Previous
                li.page-item
                    a.page-link(href='#')= `Page ${page} / ${total}`
                li.page-item(class=((page + 1) * limit > total ? 'disabled' : ''))
                    a.page-link(href=`/stores/page/${page + 1}`) Next